<div class="container-fluid bg-light min-vh-100 overflow-hidden">
    <div class="row">

        <div class="col-2 px-0">
            <app-sidebar></app-sidebar>
        </div>

        <div class="col-10 px-0">
            <div *ngIf="user.rol == 'usuario';else noAdmin" class="row pt-4 px-5">

                <div class="col-12">
                    <ul class="list-unstyled">
                        <li class="d-inline me-2 btn" (click)="show = false"
                        [ngClass]="show === false ? 'border-on' : 'border-off' ">Asignadas</li>
                        <li class="d-inline btn" (click)="show = true"
                        [ngClass]="show === true ? 'border-on' : 'border-off' ">Completadas</li>
                    </ul>
                </div>
        
                <div class="col vh-task ff">
                    <h5 class="my-4 ms-3 text-info">Mis tareas</h5>
                    <div *ngIf="show === false; else noShow">
                        <h5 class="px-3 py-3 border border-3 bg-white rounded" *ngIf="tasks.length == 0">
                            No tiene ninguna tarea pendiente, todas sus tareas fueron entregadas
                        </h5>
                        <div class="border border-2 shadow-sm my-1 task
                        rounded bg-white" type="button" *ngFor="let t of tasks" 
                        (click)="infoTask(t.id)">
                            <div class="row my-1 px-2">
                                <p class="col-3 mb-1 my-auto fw-bold">{{t.title}}</p>
                                <p class="col-7 mb-1 my-auto">{{t.description}}</p>
                                <p class="col-2 mb-1 my-auto">{{t.dueDate | date: format}}</p>
                                <p class="col-3 mt-1 my-auto">Prioridad: {{t.priority}}</p>
                                <p class="col-7 mt-1 my-auto">Proyecto: {{t.name}}</p>
                                <p class="col-2 mb-1 my-auto">Estado: {{t.estatus}}</p>
                            </div>
                        </div>
                    </div>
                </div>
        
            </div>

            <div class="col px-0 pt-3">
                <app-footer></app-footer>
            </div>

        </div>

    </div>
</div>

<ng-template #noShow>
    <h5 class="px-3 py-3 border border-3 bg-white rounded" *ngIf="doneTasks.length == 0">
        No hay ninguna tarea entregada aun
    </h5>
    <div class="bg-white border border-2 shadow-sm my-1 ff rounded task" 
    type="button" *ngFor="let td of doneTasks" (click)="infoTask(td.id)">
        <div class="row my-1 px-2">
            <p class="col-3 mb-1 my-auto fw-bold">{{td.title}}</p>
            <p class="col-7 mb-1 my-auto">{{td.description}}</p>
            <p class="col-2 mb-1 my-auto">{{td.dueDate | date: format}}</p>
            <p class="col-3 mt-1 my-auto">Prioridad: {{td.priority}}</p>
            <p class="col-7 mt-1 my-auto">Proyecto: {{td.name}}</p>
        </div>
    </div>
</ng-template>

<ng-template #noAdmin>
    <div class="vh-100 p-5">
        <h1>Error pagina no encontrada</h1>
    </div>
</ng-template>