.ff{
    font-family: 'Times New Roman', Times, serif;
}
.task:hover {
    background-color: rgb(229, 234, 238) !important;
}
.border-on {
    border-bottom: blueviolet solid;
    border-radius: 0;
}
.border-off {
    border: none
}
.vh-task {
    min-height: 85vh;
}