.ff{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
.ffs{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
.form-c {
    border: #d3d3d3 solid 1px;
    width: 35%;
}
.form-control {
    border: #f8f9fa solid 1px;
    border-bottom: rgb(68, 81, 155) solid 2px;
}
.h-table {
    min-height: 75vh;
}
.card {
    width: 250px;
}
.border-on {
    border-bottom: blueviolet solid;
    border-radius: 0;
}
.border-off {
    border: none
}
.card:hover {
    background-color: rgb(229, 234, 238) !important;
}