<div class="container-fluid bg-light overflow-hidden">
    <div class="row">

        <div class="col-2 px-0">
            <app-sidebar></app-sidebar>
        </div>

        <div class="col-10 px-0">
            <ng-container *ngIf="user.rol == 1; else noAdmin">
                <div class="row d-flex justify-content-between m-lg-5 m-4">

                    <div class="col-12 mb-4 px-0">
                        <button [ngClass]="show === 0 ? 'show-desactivated' : 'border-none' " 
                        class="btn me-2" (click)="show = 0">Mostrar todos</button>
                        <button [ngClass]="show === 1 ? 'show-desactivated' : 'border-on' " 
                        class="btn" (click)="show = 1">Mostrar cerrados</button>
                        <button [ngClass]="show === 2 ? 'show-desactivated' : 'border-on' " 
                        class="btn" (click)="show = 2">Mostrar desactivados</button>
                    </div>
    
                    <div class="col-12 mt-2 mb-4 d-flex px-0">
                        <button class="btn btn-outline-primary" (click)="openModal(addModal)">Nuevo proyecto</button>
                        <div class="col d-flex justify-content-end">
                            <input type="search" class="form-control rounded w-35 px-2" placeholder="Buscar"
                            [(ngModel)]="search">
                            <button class="btn bg-white border border-2 button-search">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
    
                    <!-- Proyects -->
                    <ng-container *ngIf="show === 0">
                        <div class="proyect-table d-flex mt-3 p-0">
                            <div *ngFor="let progress of proyectsProgress | proyects: search" 
                            class="card bg-white border border-3 mb-2 mx-1 p-lg-3 p-2" (click)="searchProyect(progress._id)" 
                            type="button">
                                <div class="row">
                                    <div class="col">
                                        <p class="fw-bold mt-1 mb-2">{{progress.name}}</p>
                                        <p class="my-1">{{ (progress.description.length > 85)? 
                                        (progress.description | slice: 0:85) + '...' : (progress.description) }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p [ngClass]="{'text-warning': progress.estatus == 'Pausado', 
                                        'text-info': progress.estatus == 'En progreso' }" 
                                        class="my-1">Estatus: {{progress.estatus}}</p>
                                        <small class="my-1">Entrega: {{ progress.dateEnd | date: format }}</small>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="proyectsProgress.length == 0" class="px-3">
                                <h5>No hay ningun proyecto añadido</h5>
                                <p>presione el boton 
                                    <span class="fw-bold">nuevo proyecto</span> 
                                    para añadir un proyecto
                                </p>
                            </div>
                        </div>
                    </ng-container>
    
                    <!-- Proyects Done -->
                    <ng-container *ngIf="show === 1">
                        <div class="proyect-table d-flex mt-3">
                            <div *ngFor="let done of proyectsDone | proyects: search" 
                            class="card bg-white border border-3 mb-2 mx-1 p-3" (click)="searchProyect(done._id)" 
                            type="button">
                                <div class="row">
                                    <div class="col">
                                        <p class="fw-bold mt-1 mb-2">{{done.name}}</p>
                                        <p class="my-1">{{ (done.description.length > 85)? 
                                        (done.description | slice: 0:85) + '...' : (done.description) }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p [ngClass]="done.estatus == 'Cerrado' ? 'text-success' : 'text-dark' " 
                                        class="my-1">Estatus: {{done.estatus}}</p>
                                        <small class="my-1">Entrega: {{ done.dateEnd | date: format }}</small>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="proyectsDone.length == 0" class="px-3">
                                <h5>No hay ningun proyecto cerrado</h5>
                                <p>para cerrar el proyecto vaya a cambiar el estatus de un proyecto</p>
                            </div>
                        </div>
                    </ng-container>
    
                    <!-- Proyects Desactivated -->
                    <ng-container *ngIf="show === 2">
                        <div class="proyect-table d-flex mt-3">
                            <div *ngFor="let desactivated of proyectsDesactivated | proyects: search" 
                            class="card bg-white border border-3 mb-2 mx-1 p-3" (click)="searchProyect(desactivated._id)" 
                            type="button">
                                <div class="row">
                                    <div class="col">
                                        <p class="fw-bold mt-1 mb-2">{{desactivated.name}}</p>
                                        <p class="my-1">{{ (desactivated.description.length > 85)? 
                                        (desactivated.description | slice: 0:85) + '...' : (desactivated.description) }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p class="text-danger my-1">Estatus: {{desactivated.estatus}} - Baja</p>
                                        <small class="my-1">Entrega: {{ desactivated.dateEnd | date: format }}</small>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="proyectsDesactivated.length == 0" class="px-3">
                                <h5>No hay ningun proyecto dado de baja</h5>
                            </div>
                        </div>
                    </ng-container>
                
                    <!-- Add Modal -->
                    <ng-template #addModal let-modal>
                        <div class="modal-header">
                          <h5 class="modal-title text-info">Nuevo proyecto</h5>
                          <button class="btn-close" type="button" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
                        </div>
                        <div class="modal-body">
                            <form [formGroup]="proyectForm" (ngSubmit)="newProyect(proyectForm.value)" 
                            class="form-proyect mt-1" autocomplete="off">
                                <div *ngIf="formValid === false" class="alert alert-danger" role="alert">
                                    Campos sin llenar o datos invalidos
                                </div>
                                <div class="row mb-2">
                                    <div class="col-6">
                                        <small class="form-label">Nombre*</small>
                                        <input [ngClass]="{'border-bottom border-danger': formValid === false && name.errors}"
                                        formControlName="name" class="form-control" type="text"
                                        placeholder="Inserte el nombre">
                                        <ng-container *ngFor="let validation of validation_messages.name">
                                            <div *ngIf="proyectForm.get('name').hasError(validation.type) && 
                                            proyectForm.get('name').dirty" class="text-danger">{{validation.message}}</div>
                                        </ng-container>
                                    </div>
                                    <div class="col-6">
                                        <small class="form-label">Descripcion*</small>
                                        <textarea [ngClass]="{'border-bottom border-danger': formValid === false && description.errors}" 
                                        formControlName="description" class="form-control" type="text" placeholder="Inserte la descripcion" 
                                        rows="4" cols="30"></textarea>
                                        <ng-container *ngFor="let validation of validation_messages.description">
                                            <div class="text-danger" *ngIf="proyectForm.get('description').hasError(validation.type) && 
                                            proyectForm.get('description').dirty">{{validation.message}}</div>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="row my-2">
                                    <div class="col-6">
                                        <small class="form-label">Fecha Inicio*</small>
                                        <input [ngClass]="{'border-bottom border-danger': formValid === false && dateStart.errors}" 
                                        formControlName="dateStart" class="form-control" type="date">
                                        <ng-container *ngFor="let validation of validation_messages.dateStart">
                                            <div class="text-danger" *ngIf="proyectForm.get('dateStart').hasError(validation.type) && 
                                            proyectForm.get('dateStart').dirty">{{validation.message}}</div>
                                        </ng-container>
                                    </div>
                                    <div class="col-6">
                                        <small class="form-label">Fecha Terminacion*</small>
                                        <input [ngClass]="{'border-bottom border-danger': formValid === false && dateEnd.errors}" 
                                        formControlName="dateEnd" class="form-control" type="date">
                                        <ng-container *ngFor="let validation of validation_messages.dateEnd">
                                            <div class="text-danger" *ngIf="proyectForm.get('dateEnd').hasError(validation.type) && 
                                            proyectForm.get('dateEnd').dirty">{{validation.message}}</div>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="mt-3 float-right">
                                    <button class="btn btn-outline-secondary me-2" (click)="reset(); modal.dismiss('Button click')"
                                    type="button">Cancelar</button>
                                    <button *ngIf="send === false; else noSend" class="btn btn-outline-primary" 
                                    type="submit">Agregar</button>
                                </div>
                            </form>
                        </div>
                    </ng-template>
            
                </div>
            </ng-container>

            <div class="col p-0">
                <app-footer></app-footer>
            </div>

        </div>

    </div>
</div>

<ng-template #noAdmin>
    <div class="vh-100 p-5">
        <h1>Error 404</h1>
        <h2>pagina no encontrada</h2>
    </div>
</ng-template>

<ng-template #noSend>
    <button class="btn btn-outline-secondary" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Guardando...
    </button>
</ng-template>