.ff{
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}
.tasks {
    min-height: 100vh;
}
.t-employee {
    height: 40vh;
}
.proyect {
    height: max-content;
}
.h-table {
    min-height: 80vh;
}