<div class="container-fluid bg-light overflow-hidden">
    <div class="row" *ngIf="user.rol == 'administrador'; else noAdmin ">

        <div class="col-2 px-0">
            <app-sidebar></app-sidebar>
        </div>

        <div class="col-10 px-0">
            <div class="row d-flex justify-content-center align-items-center form-user">

                <div class="col-8 bg-white border border-2 rounded shadow-sm py-3 px-4 ff
                user">
                    <h5 class="fw-bold">Modificar empleado</h5>
                    <form class="mt-4" [formGroup]="editForm" (ngSubmit)="editEmployee(editForm.value)">
                        <div class="row my-2">
                            <div class="col-6">
                                <label class="form-label">Nombre</label>
                                <input type="text" class="form-control" formControlName="name">
                            </div>
                            <div class="col-6">
                                <label class="form-label">Apellidos</label>
                                <input type="text" class="form-control" formControlName="surnames">
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-6">
                                <label class="form-label">Puesto</label>
                                <input type="text" class="form-control" formControlName="job">
                            </div>
                            <div class="col-6">
                                <label class="form-label">Area de trabajo</label>
                                <input type="text" class="form-control" formControlName="area">
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-6">
                                <label class="form-label">Correo</label>
                                <input type="email" class="form-control" formControlName="email">
                            </div>
                            <div class="col-6">
                                <label class="form-label">Contraseña</label>
                                <input type="password" class="form-control" formControlName="password">
                            </div>
                        </div>
                        <div class="roy my-2">
                            <div class="col">
                                <label class="form-label">Privilegios</label>
                                <select formControlName="rol" class="form-select">
                                    <option value="usuario">Usuario</option>
                                    <option value="administrador">Administrador</option>
                                </select>
                            </div>
                        </div>
                        <button class="btn btn-outline-primary mt-2 float-end" type="submit">Enviar</button>
                        <button class="btn btn-outline-danger mt-2 me-2 float-end" type="button"
                        [routerLink]="['/employee']">Cancelar</button>
                    </form>
                </div>
        
            </div>

            <div class="col-12 px-0">
                <app-footer></app-footer>
            </div>

        </div>

    </div>

</div>

<ng-template #noAdmin>
    <h1 class="m-5">Error pagina no encontrada</h1>
</ng-template>