.ff {
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
}
.form-user {
    height: 95vh;
}
.form-control {
    border: #e0e0e0 solid 1px;
    border-bottom: rgb(68, 81, 155) solid 2px;
}
.form-select {
    border: none;
    border-radius: 0;
    border-bottom: rgb(68, 81, 155) solid 2px;
}
.user {
    height: max-content;
}