<div class="container-fluid bg-light overflow-hidden">
    <div class="row">

        <div class="col-2 px-0">
            <app-sidebar></app-sidebar>
        </div>

        <div class="col-10 px-0">
            <div class="row d-flex justify-content-between px-5 my-4"
            *ngIf="user.rol == 'administrador'; else noAdmin">

                <div class="col-12 mb-4 mt-3 d-flex">
                    <button class="btn btn-outline-primary ff" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">Nuevo empleado</button>
                    <div class="col d-flex justify-content-end p-0">
                        <input type="search" class="form-control w-50" placeholder="buscar por nombre"
                        [(ngModel)]="search">
                        <button class="btn bg-white border">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
        
                <div class="col h-table">
                    <table class="table table-borderless bg-white border border-2 shadow">
                        <thead>
                            <tr class="table-success ff">
                                <th class="col-2 text-center">Nombre</th>
                                <th class="col-1 text-center">Puesto</th>
                                <th class="col-1 text-center">Area</th>
                                <th class="col-1 text-center">Correo</th>
                                <th class="col-1 text-center">Permisos</th>
                                <th class="col-1 text-center">Detalles</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let e of employees | employee: search">
                                <td class="col-2 text-center ff">{{e.name}} {{e.surnames}}</td>
                                <td class="col-1 text-center ff">{{e.job}}</td>
                                <td class="col-1 text-center ff">{{e.area}}</td>
                                <td class="col-1 text-center ff">{{e.email}}</td>
                                <td class="col-1 text-center ff">{{e.rol}}</td>
                                <td class="col-1">
                                    <button class="btn btn-outline-success me-1" (click)="searchEmployee(e.id)">
                                        <i class="fas fa-user-edit"></i>
                                    </button>
                                    <button class="btn btn-outline-danger" (click)="deleteEmployee(e.id)">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        
                <!-- Modal add -->
                <div class="modal fade" id="exampleModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Nuevo empleado</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body px-4 ff">
                            <form class="mt-1" [formGroup]="employeeForm" (ngSubmit)="newEmployee(employeeForm.value)">
                                <div class="row my-1">
                                    <div class="col-6">
                                        <label class="form-label">Nombre</label>
                                        <input type="text" class="form-control" formControlName="name">
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">Apellidos</label>
                                        <input type="text" class="form-control" formControlName="surnames">
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-6">
                                        <label class="form-label">Puesto</label>
                                        <input type="text" class="form-control" formControlName="job">
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">Area de trabajo</label>
                                        <input type="text" class="form-control" formControlName="area">
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-6">
                                        <label class="form-label">Correo</label>
                                        <input type="email" class="form-control" formControlName="email">
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">Contraseña</label>
                                        <input type="password" class="form-control" formControlName="password">
                                    </div>
                                </div>
                                <div class="roy my-2">
                                    <div class="col">
                                        <label class="form-label">Privilegios</label>
                                        <select formControlName="rol" class="form-select custom-select">
                                            <option value="usuario">Usuario</option>
                                            <option value="administrador">Administrador</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="mt-3 float-right">
                                    <button type="button" class="btn btn-outline-danger me-2" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-outline-primary" type="submit">Guardar cambios</button>
                                </div>
                            </form>
                        </div>
                      </div>
                    </div>
                </div>
        
            </div>

            <div class="col-12 px-0 mt-3">
                <app-footer></app-footer>
            </div>
            
        </div>
    </div>

</div>

<ng-template #noAdmin>
    <div class="vh-100 p-5">
        <h1>Error pagina no encontrada</h1>
    </div>
</ng-template>