<div class="container-fluid bg-light min-vh-100 overflow-hidden">
    <div class="row">

        <div class="col-2 px-0">
            <app-sidebar></app-sidebar>
        </div>

        <div class="col-10 px-0">
            <div class="row p-5 px-5 d-flex justify-content-between" *ngIf="user.rol == 'usuario';
            else noAdmin">
                <div class="col-7 h-100 bg-white border border-3 rounded shadow-sm px-0 ff">
                    <h5 class="bg-info border-bottom border-2 py-1 ps-3 text-white">Detalles</h5>
                    
                    <div class="py-2 px-3">
                        <h5 class="mb-3">Titulo: {{task[0].title}}</h5>
                        <div class="row">
                            <div class="col-6">
                                <p class="des">Descripcion: {{task[0].description}}</p>
                                <p>Requerimientos: {{task[0].requirements}}</p>
                            </div>
                            <div class="col-6">
                                <p>Proyecto: {{task[0].name}}</p>
                                <p>Prioridad: {{task[0].priority}}</p>
                                <p>Entrega: {{task[0].dueDate | date: format}}</p>
                                <p>Comentarios adicionales: {{task[0].commentary}}</p>
                            </div>
                            <p>Diagramas y documentos: {{task[0].image}}</p>
                        </div>
                    </div>
        
                    <div class="mt-3" *ngIf="task[0].estatus == 'Rehacer' || task[0].estatus == 'Terminado' ">
                        <h5 class="bg-info border-bottom border-top border-2 py-1 ps-3 text-white">
                            Correcciones y cambios</h5>
                        <div class="row px-3 py-2">
                            <div class="col">
                                <p class="my-1">Correcciones: {{task[0].info}}</p>
                                <p class="my-1">Evidencias: {{task[0].evidence}}</p>
                            </div>
                        </div>
                    </div>
        
                </div>
                <div class="col-4 bg-white border border-3 shadow-sm vh-80 px-0 ff rounded">
                    <h5 class="bg-info border-bottom border-3 py-1 ps-3 text-white">
                        Datos de envio</h5>
                    <div class="row mt-3 px-2">

                        <form [formGroup]="doneTaskForm" (ngSubmit)="sendTask(doneTaskForm.value)">
                            <div class="alert alert-danger" role="alert" *ngIf="formValid === false">
                                Datos incompletos
                            </div>
                            <div class="col">
                                <label class="form-label ms-1">Estado de la tarea</label>
                                <p class="text-success ms-1 my-1">{{task[0].estatus}}</p>
                                <select class="form-select" formControlName="estatus">
                                    <option value="Por hacer">Por hacer</option>
                                    <option value="Rehacer">Rehacer</option>
                                    <option value="En progreso">En progreso</option>
                                    <option value="Revision">Revision</option>
                                    <option value="Terminado">Terminado</option>
                                </select>
                            </div>
                            <div class="col my-3">
                                <label class="form-label ms-1">Comentarios</label>
                                <textarea class="form-control" formControlName="info" 
                                cols="30" rows="5"></textarea>
                            </div>
                            <div class="col my-3">
                                <label class="form-label ms-1">Evidencias</label>
                                <input type="file" formControlName="evidence" class="form-control">
                            </div>
                            <div class="col mt-4">
                                <button class="btn btn-outline-danger me-2" 
                                [routerLink]="['/myTasks']" type="submit">Volver</button>
                                <button *ngIf="send === false; else noSend" type="button" 
                                class="btn btn-outline-primary" type="submit">Guardar cambios</button>
                                <ng-template #noSend>
                                    <button class="btn btn-outline-secondary" type="button" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                        Guardando...
                                    </button>
                                </ng-template>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <div class="col px-0">
                <app-footer></app-footer>
            </div>

        </div>

    </div>
</div>

<ng-template #noAdmin>
    <div class="vh-100 p-5">
        <h1>Error pagina no encontrada</h1>
    </div>
</ng-template>