<div class="container-fluid bg-light overflow-hidden">
    <div class="row">

        <div class="col-2 px-0">
            <app-sidebar></app-sidebar>
        </div>

        <div class="col-10 px-0">
            <div class="row d-flex justify-content-center align-items-center ff forms"
            *ngIf="user.rol == 'administrador'; else noAdmin">
                <div class="col-7 bg-white border border-2 shadow p-3">
                    <h5 class="text-info">Agregar tarea</h5>
                    <form class="mt-3 px-2" [formGroup]="taskForm" (ngSubmit)="newTask(taskForm.value)">
                        <div class="alert alert-danger" role="alert" *ngIf="formValid === false">
                            Datos incompletos
                        </div>
                        <div class="row my-2">
                            <div class="col-12">
                                <small class="form-label">Titulo</small>
                                <input type="text" class="form-control" formControlName="title"
                                [ngClass]="{'border-bottom border-danger': formValid === false}">
                                <ng-container *ngFor="let validation of validation_messages.title">
                                    <div class="text-danger" *ngIf="taskForm.get('title').hasError(validation.type) && 
                                    (taskForm.get('title').dirty || taskForm.get('title').touched)">
                                        {{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-6">
                                <small class="form-label">Descripcion</small>
                                <textarea class="form-control" formControlName="description" cols="30" 
                                rows="5" [ngClass]="{'border-bottom border-danger': formValid === false}"></textarea>
                                <ng-container *ngFor="let validation of validation_messages.description">
                                    <div class="text-danger" *ngIf="taskForm.get('description').hasError(validation.type) && 
                                    (taskForm.get('description').dirty || taskForm.get('description').touched)">
                                        {{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                            <div class="col-6">
                                <small class="form-label">Requisitos</small>
                                <textarea class="form-control" formControlName="requirements" cols="30"
                                rows="5" [ngClass]="{'border-bottom border-danger': formValid === false}"></textarea>
                                <ng-container *ngFor="let validation of validation_messages.requirements">
                                    <div class="text-danger" *ngIf="taskForm.get('requirements').hasError(validation.type) && 
                                    (taskForm.get('requirements').dirty || taskForm.get('requirements').touched)">
                                        {{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-6">
                                <small class="form-label">Asignar responsable</small>
                                <select class="form-select custom-select" formControlName="responsable"
                                [ngClass]="{'border-bottom border-danger': formValid === false}">
                                    <option *ngFor="let c of competitor" value="{{c.idEmployee}}">{{c.name}}</option>
                                </select>
                                <ng-container *ngFor="let validation of validation_messages.responsable">
                                    <div class="text-danger" *ngIf="taskForm.get('responsable').hasError(validation.type) && 
                                    (taskForm.get('responsable').dirty || taskForm.get('responsable').touched)">
                                        {{validation.message}}
                                    </div>
                                </ng-container>
                                <h6 class="mt-1 text-danger" *ngIf="competitors === false">No hay ningun trabajador añadido a este proyecto</h6>
                            </div>
                            <div class="col-6">
                                <small class="form-label">Fecha de vencimiento</small>
                                <input type="date" class="form-control" formControlName="dueDate"
                                [ngClass]="{'border-bottom border-danger': formValid === false}">
                                <ng-container *ngFor="let validation of validation_messages.dueDate">
                                    <div class="text-danger" *ngIf="taskForm.get('dueDate').hasError(validation.type) && 
                                    (taskForm.get('dueDate').dirty || taskForm.get('dueDate').touched)">
                                        {{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-6">
                                <small class="form-label">Prioridad</small>
                                <select formControlName="priority" class="form-select custom-select"
                                [ngClass]="{'border-bottom border-danger': formValid === false}">
                                    <option value="Baja">Baja</option>
                                    <option value="Media">Media</option>
                                    <option value="Alta">Alta</option>
                                </select>
                                <ng-container *ngFor="let validation of validation_messages.priority">
                                    <div class="text-danger" *ngIf="taskForm.get('priority').hasError(validation.type) && 
                                    (taskForm.get('priority').dirty || taskForm.get('priority').touched)">
                                        {{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                            <div class="col-6">
                                <small class="form-label">Comentarios adicionales</small>
                                <textarea class="form-control" formControlName="commentary" cols="30" 
                                rows="3"></textarea>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col">
                                <small class="form-label">Diagrama o documento</small>
                                <input type="file" class="form-control" formControlName="image">
                            </div>
                        </div>
                        <div class="mt-2 float-right">
                            <button type="button" class="btn btn-outline-danger me-2" 
                            data-bs-dismiss="modal" (click)="reset()"
                            [routerLink]="['/assign-proyect']">Cancelar</button>
                            <button *ngIf="send === false; else noSend" type="button" 
                            class="btn btn-outline-primary" type="submit">Guardar cambios</button>
                            <ng-template #noSend>
                                <button class="btn btn-outline-secondary" type="button">
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Guardando...
                                </button>
                            </ng-template>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col px-0 mt-4">
                <app-footer></app-footer>
            </div>

        </div>

    </div>
</div>

<ng-template #noAdmin>
    <div class="vh-100 p-5">
        <h1>Error pagina no encontrada</h1>
    </div>
</ng-template>