.ff{
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}
.forms {
    min-height: 110vh;
    max-height: max-content;
}
.form-control {
    border: #f8f9fa solid 1px;
    border-bottom: rgb(68, 81, 155) solid 2px;
}
.form-select {
    border: none;
    border-radius: 0;
    border-bottom: rgb(68, 81, 155) solid 2px;
}