<div class="container-fluid bg-light min-vh-100">
    <div class="row">

        <div class="col-2 px-0">
            <app-sidebar></app-sidebar>
        </div>

        <div class="col-10 ff">
            <div class="row d-flex justify-content-center">

                <div class="col-11 my-5 h-acercade">
                    <div class="card py-3 px-4">
                        <div class="row">
                            <div class="col-12 ff">
                                <h5 class="fw-bold">Proyecto: proyecto final Sistema ERP</h5>
                                <p class="my-2">Grado y Grupo: IDGS-7-C</p>
                                <p class="my-2">Fecha: 6 de diciembre del 2021</p>
                                <p class="my-2">Integrantes:</p>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-3 text-center">
                                <i class="fas fa-user my-3"></i>
                                <p class="my-1">Nombre: Miguel Angel Guillen Valdez</p>
                                <p class="my-1">Matricula: 191317</p>
                            </div>
                            <div class="col-3 text-center">
                                <i class="fas fa-user my-3"></i>
                                <p class="my-1">Nombre: Daniel Viguerias Tiscareño</p>
                                <p class="my-1">Matricula: 170437</p>
                            </div>
                            <div class="col-3 text-center">
                                <i class="fas fa-user my-3"></i>
                                <p class="my-1">Nombre: Armando Guadalupe Heredia Ramos</p>
                                <p class="my-1">Matricula: 190785</p>
                            </div>
                            <div class="col-3 text-center">
                                <i class="fas fa-user my-3"></i>
                                <p class="my-1">Nombre: Jose German Lopez Regalado</p>
                                <p class="my-1">Matricula: 150763</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 px-0">
                    <app-footer></app-footer>
                </div>

            </div>
        </div>

    </div>
</div>