<div class="container-fluid bg-light overflow-hidden">
    <div class="row">

        <div class="col-2 px-0">
            <app-sidebar></app-sidebar>
        </div>

        <div class="col-10 px-0">
            <div class="row d-flex justify-content-around align-items-center proyect-form px-5"
            *ngIf="user.rol == 'administrador'; else noAdmin">

                <div class="col-6 bg-white border border-3 shadow-sm py-3 px-4 ff">
                    <div class="row">
                        <div class="col-12 d-flex border-bottom border-2 pb-2">
                            <h5 class="fw-bold flex-grow-1 my-auto">{{myProyect[0].name}}</h5>
                            <button class="btn btn-outline-success me-2"
                            data-bs-toggle="modal" data-bs-target="#exampleModal">Editar</button>
                            <button class="btn btn-outline-danger">Borrar</button>
                        </div>
                        <div class="col-6 p-3">
                            <p class="my-1">Descripcion: {{myProyect[0].description}}</p>
                        </div>
                        <div class="col-6 p-3">
                            <p class="my-1">Tipo: {{myProyect[0].type}}</p>
                            <p class="my-1">Area: {{myProyect[0].area}}</p>
                            <p class="my-1" [ngClass]="{'text-danger': myProyect[0].estatus == 'Cancelado',
                            'text-success': myProyect[0].estatus == 'Finalizado', 
                            'text-info': myProyect[0].estatus == 'Activo' }">
                                Estado: {{myProyect[0].estatus}}</p>
                            <p class="my-1">Progreso total: </p>
                        </div>
                        <div class="col-12">
                            <p class="my-1">Inicio: {{myProyect[0].dateStart | date: format }}</p>
                            <p class="my-1">Entrega: {{myProyect[0].dateEnd | date: format }}</p>
                        </div>
                        <div class="col mt-3">
                            <button class="btn btn-outline-success" [routerLink]="['/proyect']">Volver</button>
                        </div>
                    </div>
                </div>

                <div class="col-5">
                    <h5 class="py-2 ff fw-bold">Participantes del proyecto</h5>
                    <div class="row bg-white border border-2 rounded d-flex align-items-center 
                    py-2 my-1" *ngFor="let c of competitors">
                        <p class="col-2 my-1 text-center"><i class="fas fa-user text-info"></i></p>
                        <p class="col-3 my-1 ff text-center">{{c.name}}</p>
                        <p class="col-4 my-1 ff text-center">{{c.area}}</p>
                        <p class="col-3 my-1 ff text-center">{{c.rol}}</p>
                    </div>
                </div>

            </div>

            <!-- Modal edit -->
            <div class="modal fade" id="exampleModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Modificar proyecto</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body px-4 ff">
                            <form class="mt-2" [formGroup]="editForm" (ngSubmit)="editProyect(editForm.value)">
                                <div class="row my-2">
                                    <div class="col-6">
                                        <label class="form-label">Nombre</label>
                                        <input type="text" class="form-control" formControlName="name">
                                   </div>
                                    <div class="col-6">
                                        <label class="form-label">Tipo</label>
                                        <input type="text" class="form-control" formControlName="type">
                                    </div>
                                </div>
                                <div class="row my-2">
                                    <div class="col-6">
                                        <label class="form-label">Descripcion</label>
                                        <textarea type="text" class="form-control" formControlName="description"
                                        cols="30" rows="5"></textarea>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">Area de trabajo</label>
                                        <input type="text" class="form-control" formControlName="area">
                                        <label class="form-label mt-2">Estado</label>
                                        <select class="form-select custom-select" formControlName="estatus">
                                            <option value="Activo">Activo</option>
                                            <option value="Finalizado">Finalizado</option>
                                            <option value="Cancelado">Cancelado</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row my-2">
                                    <div class="col-6">
                                        <label class="form-label">Fecha Inicio</label>
                                        <input type="date" class="form-control" formControlName="dateStart">
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">Fecha Terminacion</label>
                                    <input type="date" class="form-control" formControlName="dateEnd">
                                    </div>
                                </div>
                                <div class="float-right mt-3">
                                    <button class="btn btn-outline-danger me-2" type="button"
                                    data-bs-dismiss="modal">Cancelar</button>
                                    <button class="btn btn-outline-primary me-2" type="submit">Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="px-0">
                <app-footer></app-footer>
            </div>

        </div>

    </div>
</div>

<ng-template #noAdmin>
    <div class="vh-100 p-5">
        <h1>Error pagina no encontrada</h1>
    </div>
</ng-template>