<div class="container-fluid bg-light overflow-hidden">
    <div class="row">

        <div class="col-2 px-0">
            <app-sidebar></app-sidebar>
        </div>

        <div class="col-10 px-0">
            <div class="row d-flex justify-content-around align-items-center proyect-form px-5"
            *ngIf="user.rol == 'administrador'; else noAdmin">

                <div class="col-6 bg-white border border-3 shadow-sm py-3 px-4 ff">
                    <div class="row">
                        <div class="col-12 d-flex border-bottom border-2 pb-2">
                            <h5 class="fw-bold flex-grow-1 my-auto">{{myProyect[0].name}}</h5>
                            <button class="btn btn-outline-success me-2"
                            data-bs-toggle="modal" data-bs-target="#exampleModal">Editar</button>
                            <button class="btn btn-outline-danger"
                            data-bs-toggle="modal" data-bs-target="#deleteModal">Borrar</button>
                        </div>
                        <div class="col-6 p-3">
                            <p class="my-1">Descripcion: {{myProyect[0].description}}</p>
                        </div>
                        <div class="col-6 p-3">
                            <p class="my-1">Tipo: {{myProyect[0].type}}</p>
                            <p class="my-1" [ngClass]="{'text-danger': myProyect[0].estatus == 'Cancelado',
                            'text-success': myProyect[0].estatus == 'Finalizado', 
                            'text-info': myProyect[0].estatus == 'Activo' }">
                                Estado: {{myProyect[0].estatus}}</p>
                            <p class="my-1">Progreso total: </p>
                        </div>
                        <div class="col-12">
                            <p class="my-1">Inicio: {{myProyect[0].dateStart | date: format }}</p>
                            <p class="my-1">Entrega: {{myProyect[0].dateEnd | date: format }}</p>
                        </div>
                        <div class="col mt-3">
                            <button class="btn btn-outline-success" [routerLink]="['/proyect']">Volver</button>
                        </div>
                    </div>
                </div>

                <div class="col-5" *ngIf="competitors.length > 0; else noComp">
                    <h5 class="py-2 ff fw-bold">Participantes del proyecto</h5>
                    <div class="row bg-white border border-2 rounded d-flex align-items-center 
                    py-2 my-1" *ngFor="let c of competitors">
                        <p class="col-2 my-1 text-center"><i class="fas fa-user text-info"></i></p>
                        <p class="col-3 my-1 ff text-center">{{c.name}}</p>
                        <p class="col-3 my-1 ff text-center">{{c.rol}}</p>
                    </div>
                </div>

            </div>

            <!-- Modal edit -->
            <div class="modal fade" id="exampleModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-info">Modificar proyecto</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body px-4 ff">
                            <form [formGroup]="editForm" (ngSubmit)="editProyect(editForm.value)">
                                <div class="alert alert-danger" role="alert" *ngIf="formValid === false">
                                    Datos incompletos
                                </div>
                                <div class="row my-2">
                                    <div class="col-6">
                                        <small class="form-label">Nombre</small>
                                        <input type="text" class="form-control" formControlName="name"
                                        placeholder="Inserte el nombre" 
                                        [ngClass]="{'border-bottom border-danger': formValid === false}">
                                        <ng-container *ngFor="let validation of validation_messages.name">
                                            <div class="text-danger ff" *ngIf="editForm.get('name').hasError(validation.type) && 
                                            (editForm.get('name').dirty || editForm.get('name').touched)">
                                                {{validation.message}}
                                            </div>
                                        </ng-container>
                                    </div>
                                    <div class="col-6">
                                        <small class="form-label">Tipo</small>
                                        <input type="text" class="form-control" formControlName="type"
                                        [ngClass]="{'border-bottom border-danger': formValid === false}"
                                        placeholder="Inserte el tipo de proyecto">
                                        <ng-container *ngFor="let validation of validation_messages.type">
                                            <div class="text-danger ff" *ngIf="editForm.get('type').hasError(validation.type) && 
                                            (editForm.get('type').dirty || editForm.get('type').touched)">
                                                {{validation.message}}
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="row my-2">
                                    <div class="col-6">
                                        <small class="form-label">Descripcion</small>
                                        <textarea type="text" class="form-control" formControlName="description"
                                        [ngClass]="{'border-bottom border-danger': formValid === false}"
                                        placeholder="Inserte la descripcion del proyecto" rows="5" cols="30"></textarea>
                                        <ng-container *ngFor="let validation of validation_messages.description">
                                            <div class="text-danger ff" *ngIf="editForm.get('description').hasError(validation.type) && 
                                            (editForm.get('description').dirty || editForm.get('description').touched)">
                                                {{validation.message}}
                                            </div>
                                        </ng-container>
                                    </div>
                                    <div class="col-6">
                                        <small class="form-label">Estado</small>
                                        <select class="form-select custom-select" formControlName="estatus"
                                        [ngClass]="{'border-bottom border-danger': formValid === false}">
                                            <option value="Activo">Activo</option>
                                            <option value="Finalizado">Finalizado</option>
                                            <option value="Cancelado">Cancelado</option>
                                        </select>
                                        <br>
                                        <ng-container *ngFor="let validation of validation_messages.estatus">
                                            <div class="text-danger ff mb-2" *ngIf="editForm.get('estatus').hasError(validation.type) && 
                                            (editForm.get('estatus').dirty || editForm.get('estatus').touched)">
                                                {{validation.message}}
                                            </div>
                                        </ng-container>
                                        <small class="form-label">Fecha Inicio</small>
                                        <input type="date" class="form-control" formControlName="dateStart"
                                        [ngClass]="{'border-bottom border-danger': formValid === false}">
                                        <ng-container *ngFor="let validation of validation_messages.dateStart">
                                            <div class="text-danger ff" *ngIf="editForm.get('dateStart').hasError(validation.type) && 
                                            (editForm.get('dateStart').dirty || editForm.get('dateStart').touched)">
                                                {{validation.message}}
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="row my-2">
                                    <div class="col-6">
                                        <small class="form-label">Fecha Terminacion</small>
                                        <input type="date" class="form-control" formControlName="dateEnd"
                                        [ngClass]="{'border-bottom border-danger': formValid === false}">
                                        <ng-container *ngFor="let validation of validation_messages.dateEnd">
                                            <div class="text-danger ff" *ngIf="editForm.get('dateEnd').hasError(validation.type) && 
                                            (editForm.get('dateEnd').dirty || editForm.get('dateEnd').touched)">
                                                {{validation.message}}
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="float-right mt-3">
                                    <button type="button" class="btn btn-outline-danger me-2" 
                                    data-bs-dismiss="modal" (click)="reset()">Cancelar</button>
                                    <button *ngIf="send === false; else noSend" type="button" 
                                    class="btn btn-outline-primary" type="submit">Guardar cambios</button>
                                    <ng-template #noSend>
                                        <button class="btn btn-outline-secondary" type="button" disabled>
                                            <span class="spinner-border spinner-border-sm" role="status" 
                                            aria-hidden="true"></span>
                                            Guardando...
                                        </button>
                                    </ng-template>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal delete -->
            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content ff">
                        <div class="modal-header">
                            <h5 class="modal-title fw-bold">¿Esta seguro de borrar el proyecto?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        <p>Esta accion es irreversible y borrara completamente el proyecto</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"
                            (click)="deleteProyect()">Borrar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="px-0">
                <app-footer></app-footer>
            </div>

        </div>

    </div>
</div>

<ng-template #noAdmin>
    <div class="vh-100 p-5">
        <h1>Error pagina no encontrada</h1>
    </div>
</ng-template>

<ng-template #noComp>
    <div class="col-5 bg-white p-3 ff border border-3 shadow-sm">
        <h5 class="mb-3">No hay participantes asignados al proyecto aun</h5>
        <a [routerLink]="['/assign-proyect']">Añadir participante</a>
    </div>
</ng-template>