p, span, div, h1, h2, h3, h4, h5, button {
    font-family: 'Times New Roman', Times, serif;
}
p, span, div, button {
    font-size: 17px;
}
a:hover {
    cursor: pointer;
}
.proyect-form  {
    min-height: 100vh;
    height: max-content;
}
.form-proyect .form-control {
    border: #f0ecec solid 1px;
    border-bottom: rgb(68, 81, 155) solid 2px;
    background-color: #f8f8f8e8;
}
.form-proyect .form-select {
    border: none;
    border-bottom: rgb(68, 81, 155) solid 2px;
    background-color: #f8f8f8e8;
}

@media (width < 769px){
    p, span, div, button {
        font-size: 15.5px;
    }
    h5 {
        font-size: 17px;
    }
}