.ff {
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
}
.ffs {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.task {
    height: 80vh;
}
.proyect {
    height: 70vh;
}
.image {
    height: 20vh;
    width: auto;
}
.tasks:hover {
    background-color: rgb(229, 234, 238) !important;
}
.dash {
    min-height: 60vh;
    max-height: 110vh;
}

.dash::-webkit-scrollbar {
    -webkit-appearance: none;
}
.dash::-webkit-scrollbar:vertical {
    width: 10px;
}
.dash::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
}
.dash::-webkit-scrollbar-track {
    border-radius: 10px;
}
.dash::-webkit-scrollbar-thumb {
    background-color: #838383;
    border-radius: 20px;
    border: solid #9a9a9b 2px;
}
.dash::-webkit-scrollbar-thumb:hover {
    background-color: #b3b3b3;
}