<div class="container-fluid bg-light min-vh-100 overflow-hidden">
    <div class="row">

        <div class="col-2 p-0">
            <app-sidebar></app-sidebar>
        </div>

        <div class="col-10 px-0">
            <div *ngIf="user.rol === 'usuario'; else noAdmin" class="container px-5">
                <div class="row d-flex justify-content-between pt-4">
        
                    <div class="col-5 my-3 py-2 px-4 ff border border-3 shadow-sm bg-white
                    rounded proyect overflow-hidden">
                        <h5 class="text-info py-2 mb-3 ps-3">Proyectos asignados</h5>
                        <h5 class="px-3" *ngIf="proyects.length == 0">
                            No es parte de ningun proyecto aun</h5>
                        <div class="my-2 px-3 card" *ngFor="let p of proyects" type="button"
                        (click)="proyect()">
                            <div class="row">
                                <div class="col">
                                    <h5 class="my-1 fw-bold">{{p.name}}</h5>
                                    <p class="my-1">Descripcion: {{ (p.description.length > 80)?
                                        (p.description | slice: 0:80) + '...' : (p.description) }}</p>
                                    <div class="row">
                                        <p class="col-6 my-1">Tipo: {{p.type}}</p>
                                        <small class="col-6 my-1 text-muted my-auto">
                                            Fecha: {{p.dateStart | date: format}}
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-6 my-3 py-3 px-4 ff border border-3 shadow-sm bg-white rounded task">
                        <h5 class="py-1 ps-4 mb-3 text-info">Tareas pendientes</h5>
                        <h5 class="px-3" *ngIf="myTask.length == 0">No tiene ninguna tarea pendiente</h5>
                        <div class="row mx-1 my-2 px-2 myTasks border border-3 rounded d-flex" 
                        *ngFor="let t of myTask" type="button" (click)="task(t.id)">
                            <div class="col-12 px-1">
                                <p class="my-1 fw-bold">{{t.title}}</p>
                                <div class="row">
                                    <p class="col-4 my-1">Prioridad: {{t.priority}}</p>
                                    <p class="col-4 my-1">Estado: {{t.estatus}}</p>
                                    <p class="col-4 my-1 text-center">{{t.dueDate | date: format}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
        
                </div>
        
                <div class="row my-4">
                    <div class="card-group d-flex justify-content-around">

                        <div class="col-3 border border-3 shadow-sm ff" type="button"
                        [routerLink]="['/myProyects']">
                            <div class="row bg-info p-2 border-bottom border-3 text-center">
                                <img src="../../../../assets/img/carpeta.png" class="image mx-auto" alt="">
                            </div>
                            <div class="row py-2 px-3 text-center">
                                <p>Todos mis proyectos asignados y finalizados</p>
                            </div>
                        </div>

                        <div class="col-3 border border-3 shadow-sm ff" type="button"
                        [routerLink]="['/myTasks']">
                            <div class="row bg-info p-2 border-bottom border-3 text-center">
                                <img src="../../../../assets/img/tarea.png" class="image mx-auto" alt="">
                            </div>
                            <div class="row bg-white py-2 px-3 text-center">
                                <p>Todas mis tareas asignadas y completadas</p>
                            </div>
                        </div>

                    </div>
                </div>
        
            </div>

            <div class="col px-0 pt-5">
                <app-footer></app-footer>
            </div>

        </div>

    </div>
</div>

<ng-template #noAdmin>
    <div class="row d-flex justify-content-center pt-5 px-5 pb-2 ff">

        <div class="col-12 mb-4 d-flex">
            <button class="btn me-2" (click)="show = false"
            [ngClass]="show === false ? 'border-on' : 'border-off' ">Tablero</button>
            <button class="btn" (click)="show = true"
            [ngClass]="show === false ? 'border-off' : 'border-on' ">Graficos</button>
            <!-- <div class="col d-flex justify-content-end p-0">
                <button class="btn border border-4 rounded-circle px-2 bg-white shadow-sm">
                    <img src="../../../../assets/img/correo.png" height="30px" alt="">
                </button>
            </div> -->
        </div>

        <h5 class="my-2 ms-4 fw-bold">Proyectos activos</h5>
        <h5 class="p-4 tasks" *ngIf="actives.length == 0">
            No hay ningun proyecto creado todavia, 
            <a [routerLink]="['/proyect']">añadir nuevo proyecto</a>
        </h5>
        <div class="row mt-3" *ngIf="actives.length > 0">

            <div class="col-3 border border-3 bg-white shadow-sm tasks">
                <div class="card shadow-sm text-center my-2" *ngFor="let a of actives" 
                type="button" (click)="getTask(a.id)">
                    <p class="my-1 fw-bold">{{a.name}}</p>
                    <p class="my-1">Area: {{a.area}}</p>
                    <p class="my-1">Entrega: {{a.dateEnd | date: format}}</p>
                </div>
            </div>

            <div class="col-9 border border-3 bg-white shadow-sm px-3 py-2 ffs">
                <p class="m-3 ff" *ngIf="data == false">No se han encontrado tareas asignadas 
                    en el proyectos, <a [routerLink]="['/assign-proyect']">asignar tareas</a></p>
                <div class="row">
                    <div class="col-3 px-3">
                        <h5 class="my-2 text-info text-center ff">Por hacer</h5>
                        <div class="py-1" *ngFor="let td of taskToDo">
                            <p class="my-1 fw-bold">{{td.title}}</p>
                            <p class="my-1">Responsable: {{td.name}}</p>
                            <p class="my-1">Entrega: {{td.dueDate | date: format}}</p>
                        </div>
                    </div>
                    <div class="col-3 px-3">
                        <h5 class="my-2 text-info text-center ff">En progreso</h5>
                        <div class="py-1" *ngFor="let tp of taskInProgress">
                            <p class="my-1 fw-bold">{{tp.title}}</p>
                            <p class="my-1">Responsable: {{tp.name}}</p>
                            <p class="my-1">Entrega: {{tp.dueDate | date: format}}</p>
                        </div>
                    </div>
                    <div class="col-3 px-3">
                        <h5 class="my-2 text-info text-center ff">Revision</h5>
                        <div class="py-1" *ngFor="let tr of taskReview">
                            <p class="my-1 fw-bold">{{tr.title}}</p>
                            <p class="my-1">Responsable: {{tr.name}}</p>
                            <p class="my-1">Entrega: {{tr.dueDate | date: format}}</p>
                        </div>
                    </div>
                    <div class="col-3 px-3">
                        <h5 class="my-2 text-info text-center ff">Finalizada</h5>
                        <div class="py-1" *ngFor="let t of taskDone">
                            <p class="my-1 fw-bold">{{t.title}}</p>
                            <p class="my-1">Responsable: {{t.name}}</p>
                            <p class="my-1">Entrega: {{t.dueDate | date: format}}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</ng-template>

<ng-template #view>
    <button class="btn border border-2">
        <i class="fas fa-check text-success"></i>
        <small class="d-block">Visto</small>
    </button>
</ng-template>