<div class="container-fluid bg-light min-vh-100 overflow-hidden">
    <div class="row">

        <div class="col-2 p-0">
            <app-sidebar></app-sidebar>
        </div>

        <div class="col-10 px-0">
            <div *ngIf="user.rol === 'usuario'; else noAdmin" class="container px-5">
                <div class="row d-flex justify-content-between pt-4">
        
                    <div class="col-5 my-2 py-3 px-4 ff border border-3 shadow-sm bg-white rounded
                    proyect">
                        <h5 class="fw-bold border-bottom border-2 pb-2">Proyectos asignados</h5>
                        <div class="mt-2" *ngFor="let p of proyects" type="button">
                            <div class="row">
                                <div class="col">
                                    <h5 class="my-1">{{p.name}}</h5>
                                    <p class="my-1">Descripcion: {{p.description}}</p>
                                    <div class="row">
                                        <p class="col-6 my-1">Tipo: {{p.type}}</p>
                                        <small class="col-6 my-1 text-muted my-auto">Fecha: {{p.dateStart}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-6 my-2 py-3 px-4 ff border border-3 shadow-sm bg-white rounded task">
                        <h5 class="pb-2 ms-2 fw-bold border-bottom border-3">Tareas pendientes</h5>
                        <div class="row px-2 d-flex" *ngFor="let t of tasks" type="button"
                        (click)="task(t.id)">
                            <div class="col-2 my-auto px-0">
                                <button class="btn border border-2" *ngIf="t.view == '2'; view">
                                    <i class="fas fa-check"></i>
                                    <small class="d-block">No visto</small>
                                </button>
                            </div>
                            <div class="col-10">
                                <p class="my-1 fw-bold">{{t.title}}</p>
                                <div class="row">
                                    <p class="col my-1">Prioridad: {{t.priority}}</p>
                                    <p class="col my-1">Entrega: {{t.dueDate}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
        
                </div>
        
                <div class="row my-5">
                    <div class="card-group d-flex justify-content-around">
                        <div class="col-3 border border-3 shadow-sm ff" type="button"
                        [routerLink]="['/myTasks']">
                            <div class="row bg-info p-2 border-bottom border-3 text-center">
                                <img src="../../../../assets/img/tarea.png" class="image mx-auto" alt="">
                            </div>
                            <div class="row bg-white py-2 px-3 text-center">
                                <p>Todas mis tareas asignadas y completadas</p>
                            </div>
                        </div>
                        <div class="col-3 border border-3 shadow-sm ff" type="button"
                        [routerLink]="['/myProyects']">
                            <div class="row bg-info p-2 border-bottom border-3 text-center">
                                <img src="../../../../assets/img/carpeta.png" class="image mx-auto" alt="">
                            </div>
                            <div class="row py-2 px-3 text-center">
                                <p>Todos mis proyectos asignados y finalizados</p>
                            </div>
                        </div>
                    </div>
                </div>
        
            </div>

            <div class="col px-0 pt-5">
                <app-footer></app-footer>
            </div>

        </div>

    </div>
</div>

<ng-template #noAdmin>
    <div class="row d-flex justify-content-center pt-5 px-5 pb-2 ff">

        <div class="col-12 mb-4 d-flex">
            <button class="btn me-2" (click)="show = false"
            [ngClass]="show === false ? 'border-on' : 'border-off' ">Tablero</button>
            <button class="btn" (click)="show = true"
            [ngClass]="show === false ? 'border-off' : 'border-on' ">Graficos</button>
            <!-- <div class="col d-flex justify-content-end p-0">
                <button class="btn border border-4 rounded-circle px-2 bg-white shadow-sm">
                    <img src="../../../../assets/img/correo.png" height="30px" alt="">
                </button>
            </div> -->
        </div>

        <h5 class="mb-3 ms-3 fw-bold">Tablero de actividades</h5>
        <div class="row dash overflow-auto ffs px-0">

            <div class="col-3 bg-white border border-2">
                <div class="row bg-info">
                    <h5 class="my-2 text-center text-white">Por hacer</h5>
                </div>
                <div class="row border-bottom border-2 py-1" *ngFor="let td of taskToDo">
                    <div class="col tasks" type="button" (click)="viewTask()">
                        <p class="fw-bold my-1">{{td.title}}</p>
                        <p class="my-1">Asignada: {{td.responsable}}</p>
                        <p class="my-1">Proyecto: {{td.idProyect}}</p>
                        <small class="text-muted my-1">Entrega: {{td.dueDate}}</small>
                    </div>
                </div>
            </div>

            <div class="col-3 bg-white border-top border-bottom border-end">
                <div class="row bg-info">
                    <h5 class="my-2 text-center text-white">En progreso</h5>
                </div>
                <div class="row border-bottom border-2 py-1" *ngFor="let ti of taskInProgress">
                    <div class="col tasks" type="button" (click)="viewTask()">
                        <p class="fw-bold my-1">{{ti.title}}</p>
                        <p class="my-1">Asignada: {{ti.responsable}}</p>
                        <p class="my-1">Proyecto: {{ti.idProyect}}</p>
                        <small class="text-muted my-1">Entrega: {{ti.dueDate}}</small>
                    </div>
                </div>
            </div>

            <div class="col-3 bg-white border-top border-bottom border-end">
                <div class="row bg-info">
                    <h5 class="my-2 text-center text-white">Revision de calidad</h5>
                </div>
                <div class="row border-bottom border-2 py-1" *ngFor="let tr of taskReview">
                    <div class="col tasks" type="button" (click)="viewTask()">
                        <p class="fw-bold my-1">{{tr.title}}</p>
                        <p class="my-1">Asignada: {{tr.responsable}}</p>
                        <p class="my-1">Proyecto: {{tr.idProyect}}</p>
                        <small class="text-muted my-1">Entrega: {{tr.dueDate}}</small>
                    </div>
                </div>
            </div>

            <div class="col-3 bg-white border-top border-bottom border-end">
                <div class="row bg-info">
                    <h5 class="my-2 text-center text-white">Finalizada</h5>
                </div>
                <div class="row border-bottom border-2 py-1" *ngFor="let t of taskDone">
                    <div class="col tasks" type="button" (click)="viewTask()">
                        <p class="fw-bold my-1">{{t.title}}</p>
                        <p class="my-1">Asignada: {{t.responsable}}</p>
                        <p class="my-1">Proyecto: {{t.idProyect}}</p>
                        <small class="text-muted my-1">Entrega: {{t.dueDate}}</small>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
</ng-template>

<ng-template #view>
    <button class="btn border border-2">
        <i class="fas fa-check text-success"></i>
        <small class="d-block">Visto</small>
    </button>
</ng-template>