<div class="container-fluid bg-secondary border-top border-4 pt-4">
    <div class="row mb-2 d-flex justify-content-around">
        <div class="col-4 text-center">
            <a class="text-reset text-decoration-none" href="https://www.utags.edu.mx/">
                <img src="https://www.utags.edu.mx/images/CIB/img/LogosCIB/uta.jpg" class="img1 rounded" alt="">
                <h6 class="pt-1">UTA</h6>
            </a>
        </div>
        <div class="col-4 text-center">
            <a class="text-reset text-decoration-none" href="https://github.com/Miguel-Guillen/ERP-Users">
                <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" class="img2" alt="">
                <h6 class="pt-1">Github</h6>
            </a>
        </div>
    </div>
    <div class="row text-center">
        <h5 class="mb-1">Proyecto Sistema ERP - Practica MVC</h5>
        <p class="mb-2">UNIVERSIDAD TECNOLOGICA DE AGUASCALIENTES</p>
    </div>
</div>